[submodule "colorwheel.js"]
	path = colorwheel.js
	url = git@github.com:McIntireEvan/colorwheel.js.git
[submodule "openink"]
	path = openink
	url = git@github.com:McIntireEvan/openink.git
[submodule "myth"]
	path = myth
	url = git@github.com:McIntireEvan/myth.git
