/* General Styles */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0px;
}

img {
    width:  48px;
    height: 48px;
}

.context-item {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    background: #ffffff;
}

.context-item:hover {
    color: white;
    background: #81CD29;
}

/* Layers */

#layers {
    position: relative;
    width: 1150px;
    height: 800px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

.layer {
    margin: 0;
    position: absolute;
    cursor: crosshair;
    background-color: transparent;
}

#layer-controls {
    border: 1px solid black;
    width: 366px;
    display: inline-block;
    vertical-align: bottom;
}

#layer-controls-opacity {
    margin-left: auto;
    margin-right: auto;
}

#layer-list {
    font-size: 1.2em;
    border-collapse: collapse;
    width: 100%;
}

#layer-scroll {
    height: 20em;
    max-height: 20em;
    overflow-y: auto;
}

#layer-list tr {
    border: 1px solid black;
}

.layer-opacity {
    font-size: .8em;
}

.selected {
    background-color: #DEF2C5;
    font-weight: bold;
}

.hidden {
    color: #BABABA;
}

/* Toolbox */

#tools {
    border: 1px solid black;
    width: 366px;
    height: auto;
    display: inline-flex;
    vertical-align: top;
}

#tools h1 {
    margin: 0px;
    text-align: center
}

#tool-meta {
    border: 1px solid black;
    width: auto;
    flex-grow: 1;
}

.tool, .action {
    background-color: #81CD29;
}

.active, .tool:hover, .action:hover {
    background-color: #5C931D;
}

.tool-meta:not(.activeTool) {
    display: none;
}

#tool-meta h1 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#brush-settings div, #eraser-settings div{
    padding: 10px;
}

input[type="number"] {
    min-width: 10px;
    max-width: 40px;
    width: auto;
}

.color {
    display: inline-block;
    margin: 3px;
    border: 1px solid black;
}

#color-palette {
    max-height: calc(56px * 3);
    overflow-y: scroll;
}

#color-palette:active {
    cursor: -webkit-grabbing;
}

#color-palette div {
    width: 36px;
    height: 36px;
}

#hexValue {
    display: block;
}

/*TODO: Clean up this CSS*/
#eyedropper-top {
    border: 10px solid blue;
    border-bottom: 0;
    border-radius: 90px 90px 0px 0px;
    margin: 10px 0px 0px 10px;
}

#eyedropper-bottom {
    border: 10px solid red;
    border-top: 0;
    border-radius: 0px 0px 90px 90px;
    margin: 0px 0px 10px 10px;
}

.eyedropper-inner {
    height: 45px;
    width: 90px;
    box-sizing: border-box;
}

#eyedropper-outer {
    border: 10px solid darkgray;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    position: absolute;
    cursor: crosshair;
}

#eyedropper-holder {
    position: absolute;
    z-index: 1000;
}

.eyedropper-wheel {
    pointer-events: none;
    display: none;
}

/* Color settings */

#wheel {
    position: relative;
    text-align: left;
}

#hexValue {
    width: 5em;
}

#color-settings, #hsv-settings {
    display: none;
}

#modal-bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal {
    width: 30em;
    height: 20em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 20px;
}

.nyi {
    display: none !important;
}

.err {
    display: none;
    color: red;
}

input[type="file"] {
    display: none;
}