/* General Styles */
canvas {
    border:1px solid black;
}

img {
    width:  48px;
    height: 48px;
}

.context-item {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    background: #ffffff;
}

.context-item:hover {
    color: white;
    background: #81CD29;
}

/* Layers */

#layers {
    position: relative;
    left: 400px;
}

.layer {
    margin: auto;
    position: absolute;
    cursor: crosshair;
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}

#layer-controls {
    border: 1px solid black;
    width: 366px;
    position: relative
}

#layer-controls-opacity {
    margin-left: auto !important;
    margin-right: auto !important;
}

#layer-list{
    font-size: 1.2em;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    vertical-align:top;
    width: 366px;
}

#layer-list img {
    height: 48px;
    width: 48px;
    vertical-align:top;
}

#layer-list tr {
    border: 1px solid black;
    height: 48px;
    padding: 0px;
    margin: 0px;
}

#layer-list td {
    padding: 0px;
    margin: 0px;
    height: 48px;
}

.layer-opacity {
    text-align: right;
    padding-right: 10px;
}

.selected {
    background-color: #DEF2C5;
    font-weight: bold;
}

.hidden {
    color: #BABABA;
}

/* Toolbox */

#tools {
    border: 1px solid black;
    width: 366px;
    height: auto;
    display:flex;
}

#tools table {
    border: 1px solid black;
}

#tools h1 {
    padding:0px;
    margin: 0px;
    text-align: center
}

#tool-meta {
    border: 1px solid black;
    width: auto;
    flex-grow: 1;
}

.tool, #layer-tools td {
    background-color: #81CD29;
}

.active {
    background-color: #5C931D;
}

.tool-meta:not(.activeTool) {
    display: none;
}

#brush-settings {
    text-align: center;
}

#brush-settings table {
    border: none;
}

#tool-meta h1 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

input[type="number"] {
    min-width: 10px;
    max-width: 40px;
    width: auto;
}
.color {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 3px;
    border: 1px solid black;
}

#color-palette {
    max-height: calc(56px * 3);
    overflow-y: scroll;
}

#color-palette:active {
    cursor: -webkit-grabbing !important;
}

/* Colorwheel hacks */


#wheel {
    position: relative;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#wheel canvas {
    border: 0px;
}
