@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* General Styles */

.error, .cancel, .red {
    background: #E55E5B
}

.blue {
    background: #2264AA;
}

.black {
    background: #191919;
}

/* Gloabal Style */

/* Reset and Maximize html and body */
html, body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    min-width: 100%;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: 40px auto;
    grid-row-gap: .2em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Open Sans', sans-serif;
}

#main {
    display: flex;
    height: 100%;
    flex-grow: 1;
    grid-row: 2;
    margin: 0px;
}

.contextmenu {
    position: absolute;
    background: #ffffff;
}

.context-item {
    border: 1px solid black;
    padding: 5px;
}

.context-item:hover {
    color: white;
    background: #2264AA;
}

input[type="file"] {
    display: none;
}

#hidden-input {
    top: -999px;
    left: -999px;
    position: absolute;
}

#server-status {
    display: inline;
    color: #ffffff;
}

.conn-info {
    margin-left: auto;
}

#gallery-url-holder {
    display: none;
}

/* Toolbox
***********/

#toolbox {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    align-content: center;
    grid-row: 1;

    height: 40px;
    border-bottom: 2px solid #2f2f2f;
}

#toolbox svg, #layer-actions svg {
    width: 32px;
    height: 32px;
    padding: 4px;
}

#toolbox svg path, #layer-actions svg path {
    fill: white;
}

#toolbox svg:hover, #layer-actions svg:hover {
    background: #2264AA;
}

.active, .tool:hover, .action:hover {
    background: #2264AA;
}

/* Tool Info
*************/
#tool-info {
    width: 25em;
    min-height: 100%;
    background: #191919;
    display: flex;
    flex-flow: column;
    justify-content: flex-start
}

.meta-box {
    margin-bottom: .3em;
    margin-top: .3em;
    margin-left: 1em;
    padding-bottom: .1em;
    background: #2f2f2f;
    color: white;
}

.meta-box h1 {
    font-weight: 400;
    border-bottom: 1px solid white;
    margin: 4px;
}

#wheel {
    position: relative;
    text-align: left;
}

#color1, #color2 {
    width: 36px;
    height: 36px;
    display: inline-block;
}

#hex-val-container {
    position: relative;
}

.tool-meta:not(.activeTool) {
    display: none;
}

.tool-meta div {
    padding: 10px;
}

.tool-meta .vial-input {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tool-meta input[type=text] {
    background: #2f2f2f;
    color: white;
}

#color-settings {
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}

/* TODO: Deprecated */
#color-palette {
    max-height: calc(56px * 3);
    overflow-y: scroll;
}

.color {
    display: inline-block;
    margin: 3px;
    border: 1px solid black;
    width: 36px;
    height: 36px;
}

.color:hover {
    cursor: -webkit-grab;
}

#color-palette:active {
    cursor: -webkit-grabbing;
}

#palette-holder, #hsv-settings {
    display: none;
}

/* TODO: End Deprecated */

/* Layers
**********/

#center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#layers {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    background: white;
}

.layer {
    margin: 0;
    position: absolute;
    cursor: crosshair;
    background-color: transparent;
}

#layers, .layer {
    width: calc(100vw - 26em);
    height: calc((100vw - 26em) * .5625);
}

/* Layer Controls
******************/

#layer-controls-opacity {
    margin-left: auto;
    margin-right: auto;
}

#layer-list {
    font-size: 1.2em;
    border-collapse: collapse;
    width: 100%;
}

#layer-scroll {
    height: 16em;
    max-height: 16em;
    overflow-y: auto;

}

.layer-opacity {
    font-size: .8em;
}

.layer-preview img {
    width: 48px !important;
    height: 27px !important;
}

.selected {
    color: #191919;
    background-color: white;
    font-weight: bold;
}

/* Eyedropper
**************/

#eyedropper-top {
    border: 10px solid blue;
    border-bottom: 0;
    border-radius: 90px 90px 0px 0px;
    margin: 10px 0px 0px 10px;
}

#eyedropper-bottom {
    border: 10px solid red;
    border-top: 0;
    border-radius: 0px 0px 90px 90px;
    margin: 0px 0px 10px 10px;
}

.eyedropper-inner {
    height: 45px;
    width: 90px;
    box-sizing: border-box;
}

#eyedropper-outer {
    border: 10px solid darkgray;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    position: absolute;
    cursor: crosshair;
}

#eyedropper-holder {
    position: absolute;
    z-index: 1000;
}

.eyedropper-wheel {
    pointer-events: none;
    display: none;
}

/* Modal
*********/

#modal-bg {
    background: rgba(0,0,0,.6);
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.modal {
    width: auto;
    height: auto;
    background: white;
    padding: 1em;
    padding-bottom: .5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    display: none;
    border-radius: 4px;
}

.modal h1 {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
    margin-bottom: .35em;
}

#room-create {
    display: flex;
    flex-flow: column;
}

#room-create label {
    margin-bottom: .5em;
}

#room-create div {
    align-self: center;
    margin-top: .4em;
    margin-bottom: .4em;
    margin: .2em;
}

#gallery-error {
    margin-bottom: .9em !important;
}

#dialog-save label, #dialog-save input {
    display: inline-block;
}

/* Colorwheel
**************/

#wheel canvas {
    width: 12vw;
    height: 12vw;
}

#wheel {
    margin: auto;
    width: 12vw;
    height: 12vw;
}

#wheel-holder {
    margin: .5em .5em 1em .5em;
}

/* Buttons
***********/

.button {
    border: none;
    color: #fbfbfb;
    font-size: 1em;
    padding: .5em;
    width: 5em;
    /*border-radius: 4px;*/
    margin: 0em .1em 0em .1em;
    transition: all .5s;
}

.button a {
    text-decoration: none;
    color: #fbfbfb;
}

.button-blue {
    background: #2264AA;
}

/* TODO: Deprecated */
.inp {
    padding: 10px;
    padding-bottom: 4px;
    border: none;
    border-bottom: solid 3px #c1c1c1;
    transition: border 0.3s;
    font-size: 18px;
    margin-bottom: 20px;
}

.inp:focus {
    border-color: #2264AA;
    outline: none;
}

.input-holder {
    position: relative;
    padding: 10px;
}

.input-holder label {
    color: #2264AA;
    position: absolute;
    top: 0;
    left: 0;
    size: 70%;
    visibility: hidden;
    transition: transform .2s;
}

  .inp:valid + label {
    visibility: visible;
    transform: translate(0, -40%);
  }

/* TODO: End Deprecated */

#user-list {
    display: inline-flex;
    flex-direction: row;
    padding-right: 10px;
    height: 100%;
    align-content: center;
    align-items: center;
}

#user-list span {
    color: white;
    background: #2264AA;

    border: 1px solid #2264AA;
    width: 1.30em;

    margin-right: 10px;

    font-size: 1.30em;
    line-height: 1.30em;

    text-align: center;
    margin-bottom: auto;
    position: relative
}

#user-list span:hover .user-expanded {
    display: block;
}

.nostyle {
    text-decoration: none;
}

.user-expanded {
    position: absolute;
    top: 100%;
    display: none;

    background: #2264AA;

    border: 1px solid #2264AA;
}

/** Checkbox */
/* TODO: Deprecated */
.cch input {
    position: absolute;
    opacity: 0;
}

.cch label {
    position: relative;
    cursor: pointer;
    padding: 0;
    vertical-align: middle
}

.cch label:before{
    content: '';
    margin-right: .3em;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border: 2px solid #2264AA;
    border-radius: 20%;
    background: white;
}

.cch:hover label:before {
    background: #2264AA77;
}

.cch input:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.cch input:checked + label:before {
    background: #2264AA;
}

.cch input:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.cch input:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
/* TODO: End Deprecated */

.dialog-settings {
    align-content: flex-start
}

#fileName-holder {
    display: inline-block;
}

#dialog-save {
    width: 15vw;
}

#room-manage .body > * {
    margin: 10px;
}

#room-manage input[type=text] {
    padding: 10px;
}

#hex-val-container input[type=text] {
    width: 6em;
    font-size: 20px;
}

.tool-meta input[type=text] {
    font-size: 20px;
    width: 2em;
}

.tool-meta .vial-input {
    display: inline-block;
}

#hex-val-container label, .tool-meta label {
    padding-bottom: 2em;
    color: white !important;
}

.message {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    margin: 0px !important;
    text-align: center;
}

/* TODO: Deprecated */
@media (max-device-width: 640px) {
    body{
        flex-flow: column wrap;
    }

    #tool-info {
        display: none !important;
    }

    .right {
        display: none;
        position: absolute;
        bottom: 0px;
        margin: 0px;
    }

    #user-list {
        display: none !important;
    }

    #layers, .layer {
        width: 100vw !important;
        height: calc(100vw * calc(1920/1080)) !important;
        margin: 0px;

    }
}