.gradient-white {
    background: linear-gradient(to right, #fff, rgba(255,255,255,0));
}

.gradient-black {
    background: linear-gradient(to top, #000, rgba(0,0,0,0));
}

.color-spacer {
    width: 100px;
    height: 100px;
}

.color-container {
    background: white;

    height: 100%;
    margin: auto;
}

.hue-horizontal {
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0
      33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    background: -webkit-linear-gradient(to right, #f00 0%, #ff0
      17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  }

.hue-vertical {
    background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%,
    #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    background: -webkit-linear-gradient(to top, #f00 0%, #ff0 17%,
    #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.hue-spacer {
    width: 100px;
    height: 20px;
}