#game-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    background: #2264AA;

    .col {
        display: flex;
        flex-direction: column;
    }

    #word {
        text-align: center;
    }

    #left, #right {
        width: 300px;
        margin: 5px;
        background: white;
    }

    #layers {
        width: calc(100vw - 620px) !important;
        height: calc((100vw - 620px) * .5625) !important;
    }

    .chat {
        ul {
            list-style: none;
        }
    }
}