#canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px 10px 0px 0px;
    padding: 0px;

    #layers {
        width: calc(80vw - 30px);
        height: calc((80vw - 30px) * .5625);
        margin: 0px;
        padding: 0px;
        background: white;
        cursor: crosshair;
        display: relative;
    }

    canvas {
        display: absolute;
        width: 100%;
        height: 100%;
    }
}